<!-- Your code here -->
<!-- <h1>Hello <%= @name %></h1> -->

<% if not @w.nil? %>
	<h1><%= @w[:city] %></h1>
   <% @temperature = (9.0/5) * (@w[:temperature] - 273) + 32 %>
	<p>
		It's <%= @temperature %>°F
		and it looks like <%= @w[:description] %>
	</p>
<% end %>

<%= form_with local:true, method:"get" do |f| %>
   <%= f.label :city %>
   <%= f.text_field :city %>
   <%= f.submit %>
<% end %>

<%= City.all.keys.each do |c| %>
<% if not c.nil? %>
   <h1> <%= City.all[c].name %></h1>
   <% @temperature = (9.0/5) * (City.all[c].weather[:temperature] - 273) + 32 %>
   <p>
   	 It's <%= @temperature %>°F
   	 and it looks like <%= City.all[c].weather[:description] %>
   </p>
<% end %>
<% end %>